.todoItem {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  margin: 0.4rem 0.5rem;
  border-radius: 0.3rem;
  p {
    flex-grow: 1;
    padding-left: 0.3rem;
  }

  .line-through {
    text-decoration: line-through;
  }

  button{
    min-width: 4vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
    &:hover{
      background-color: transparent;
    }
  }
  
}
