body{
  background-color: rgba(112, 189, 189, 0.274);
   
}

.container{ 
  background-color: rgba(194, 194, 194, 0.349);
  margin-top: 5rem !important;
  border: 1px solid rgba(119, 119, 119, 0.692);
  font-family: 'roboto';
  border-radius: .3rem;
  box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.431);
  }

